.title{
   padding-top: 50px;
   text-align: left;
   margin-bottom: 0px;
   h1{
      font-weight: 800;
      font-size: 37px;
   }
   h2{
      margin-top: -27px;
      font-size: 23px;
      font-weight: 600;
      opacity: 0.7;
   }
}
@media(min-width:1000px){
   .title{
      h2{
         font-size: 26px;
      }
   }
}