.title{
    text-align: center;
    padding-top: 20px;
    font-weight: 700;
}
.links a{
    text-decoration:none;
	display: inline-block;
    padding-bottom:15px;
    padding-top:15px;
    padding-left:25px;
    padding-right:25px;
	border-radius:8px;
	color: white;
	font-weight: 500;
	margin: 16px 8px 8px;
}
.card{
    border-radius: 14px;
    width: 100%;
    background-color: #E5E5EA;
}
.card-title{
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 700;
}
.card-description{
    margin-top: -10px;
    padding-left: 10px;
    opacity: 0.7;
}
.card-footer{
    padding-bottom: 25px;
    padding-left: 10px;
    margin-top: -15px;
    opacity: 0.5;
    font-weight:700;
    font-size: 13px;
}
.card a{
    text-decoration: none;
    color: black;
}
body::-webkit-scrollbar {
    display: none;
}
.footer{
    text-align: center;
    color: #AAAAAA; 
    font-size: 14px;
}
@media (prefers-color-scheme: dark){
   body{
        background-color: #1C1C1E;
    }
    .card{
        background-color: #2C2C2E;
    }
    .card-description, .card-footer{
        color: white;
    }
    .card a{
        color:white;
    }
}
/* some media query */
@media (max-width: 600px) {
    #desktop_only{
        display:none;
    }
}