body{
    background-color: #FFFFFF;
    color: #333333;
    text-align: center;
    font-family: -apple-system;
    padding-top: 5%;
}
h1{
    font-size: 45px;
}
h2{
    font-weight: 300;
    margin-top: -30px;
}
@media
(prefers-color-scheme: dark) {

  body {
        background-color: #1C1C1E;
        color: white;
    }
    #transaction {
        background-color: #191919;
        box-shadow: none;
    }
