.container{
   display: grid;
   grid-template-columns: repeat(1, 100%);
   gap: 20px;
   .type{
      font-size: 13px;
      font-weight: 400;
      padding: 5px;
      background-color: #d1d5da;
      border-radius: $radius;
   }
   div{
      border-radius:$radius ;
      background-color: #f1f0f5;
      padding:15px;
      p{
         opacity: 0.7;
      }
   }
}

@media(min-width:1000px){
   .container{
      grid-template-columns: repeat(2, 50%);
   }
}
@media (prefers-color-scheme: dark){
   .container{
      div{
         background-color: #1c1c1e;
         color: white;
      }
   }
}